<div class="title">
  <p>
    ODCA's Educational <br>Programs & Research
  </p>
</div>
<div class="col-md-8 col-md-offset-2 top">
  <div class="col-md-3 links">
    <a href="#research" class="scroll">Our Shark Research</a>
  </div>
  <div class="col-md-3 links">
    <a href="#orions guardians" class="scroll">Orion's Guardians</a>
  </div>
  <div class="col-md-3 links">
    <a href="#mermaids" class="scroll">Mermaids</a>
  </div>
  <div class="col-md-3 links">
    <a href="#conservation" class="scroll">Conservation</a>
  </div>
</div>

<div class="col-md-8 col-md-offset-2 educational_services">
  <br>
  <p>
    “In the end we will conserve only what we love; we will love only what we understand; and we will understand only what we have been taught.”― Baba Dioum
    <br>
    <br>
    Education is one of the foundational elements of Ocean’s Daughter Conservation Alliance. We believe that the most lasting conservation efforts arise from establishing meaningful interactions between humans and animals. For this very reason, we have cultivated a “Connecting Kids with Conservation” initiative. Through the use of immersive story-telling, hands-on displays, and engaging curricula, we are proud to offer traveling educational presentations solidified in Sunshine State Standards. We bring the science books to life in your classroom!
    <br>
    <br>
    Each program includes personalized meet-and-greets with a variety of our animal ambassadors. We currently work with teachers in Pasco, Pinellas, Hernando, and Hillsborough County. We are happy to customize each program to fit your educational goals.  Programs are available for all age groups! We are happy to offer these services to daycares, elementary schools, middle schools, high schools, homeschool groups, community centers, and local libraries. Sample lesson plans include:
    <br>
    <br>
    -          Aquatic Adaptations
    <br>
    -          Tidepool Habitats
    <br>
    -          Mermaids, Myths, and Manatees
    <br>
    -          Shark Bites
    <br>
    -          Turtle Talk
    <br>
    -          Underwater Picasso
    <br>
    -          Whale Wonders
    <br>
    -          Dolphin Discovery
    <br>
    -          Florida Native
    <br>
    <br>
    <strong>Please contact us to schedule an education program!</strong>
  </p>
</div>

<div class="col-md-8 col-md-offset-2 research">
  <h3 id="research">Our Shark Research</h3>
  <p>
    Cinematic masterpieces, and sensationalized media reports have painted sharks as blood-thirsty monsters lurking in the shadowy depths of the oceans just waiting to strike. Our collective imagination is to blame for the vicious killer typecast that sharks now possess.  In truth, you are far more likely to be killed by a bee sting, lightning strike, and even a falling coconut than a shark bite. Despite the Hollywood cliché, humans are simply not part of a shark’s menu.
  </p>
  <p>
    Factors like bycatch, long lines, finning, overfishing, and stigma are devastating our shark populations. It is estimated that over 73,000,000 sharks will be slaughtered this year. That is a staggering rate of over 11,000 animals dead each and every hour. The reality is that if these apex predators become extinct, our oceans die with them.
  </p>
  <p>
    Sharks possess a widespread global distribution and play a crucial role in maintaining the health of our oceans. Sharks serve as keystone! They keep prey from over-grazing vital habitats and from becoming too prevalent. Without sharks, the delicate balance of the food chain collapses. This breakdown propels other species into extinction. Removing sharks from our oceans not only tampers with a significant source of the globe’s protein supply, but also jeopardizes primary employment for millions. Did you know that the ocean produces more oxygen than all of the rainforests combined and also helps to regulate our planet’s weather?
  </p>
  <p>
    The reality is that survival of mankind is intricately weaved into the survival of sharks. Here at Ocean’s Daughter Conservation Alliance, we firmly believe that every person can make a difference. Small everyday actions can lead to big whale changes! That is why we proudly support shark conservation and spearhead positive messaging to help remove the myths and stigma surrounding sharks. We work on both social media platforms and routinely host community outreach programs to educate people of all ages on the vulnerability and value of sharks!
  </p>
  <p>
      Staying true to our core concept of an alliance, we also collaborate closely with shark labs around the world and support research projects aimed at preserving shark species.  As an organization, we are actively working towards placing acoustic tags on tiger sharks in Bimini waters, and also seeking to build and place new receiver stations in the water to help scientists track and monitor shark migration patterns.  Our research goals also extend to unlocking the secrets of tiger shark breeding grounds, and analyzing hereditary lines through state-of-the-art genetic sampling.
  </p>
  <strong>
    Check Out These Awesome Shark Infographics:
  </strong>
  <div class="shark">
   <%= link_to "Sharks: More Than A Myth", '/path/to/file/or/path_method' %>
  </div>
  <div class="shark">
   <%= link_to "Why Are Sharks So Vulnerable", '/path/to/file/or/path_method' %>
  </div>
</div>

<div class="col-md-8 col-md-offset-2 guardians">
  <center id= "orions guardians">
  <%= image_tag('book.jpg', height: '300px', width: '500px',class:"img-responsive") %>
  </center>
  <h3>
    Orion's Guardians
  </h3>
  <p>
    Orion's Guardians is a program designed to connect kids with conservation! Whether it is organizing a beach clean-up event, or ensuring that lights get turned off when you leave a room - little guppy actions lead to huge whale changes! It all has to begin somewhere, and each month we create a new project and nominate a target animal for kids to learn more about! The goal is to teach sustainable behaviors and educate in a virtual capacity!
  </p>
  <p>
    Bestselling author, Richard Louv coined the term “nature-deficit disorder” to describe the increasing loss of connectivity between children and the natural world. As an organization headquartered in Florida, it is disheartening to repeatedly observe such a biodiverse region falling victim to this growing epidemic. Instead of exploring the abundance of natural treasures, youth are dedicating hours on end to a virtual reality. Nature hikes, trekking through the woods, swimming in crystal clear springs, snorkeling among coral reefs, geocaching, imaginative adventures in treehouses, and park visits are being replaced with smart phones, tablets, television, and video games.  Our culture pressures families to have overwhelming schedules, overpopulates cities, and destroys outdoor habitats, all while mainstream media sensationalizes “dangers”. Combating this disease is the heart and soul of our organization’s education mission. The Orion’s Guardian program is designed to awaken the importance of conservation needs to children, and get them plugged into the issues that matter on a global scale. It is time that we connect kids with conservation, and create genuine excitement for outdoor play, exploration, and learning.
  </p>
  <p>
    “If you want your children to be intelligent, read them fairy tales. If you want them to be even more intelligent, read them more fairy tales.” - Albert Einstein.  Ocean’s Daughter Conservation Alliance created our own special fairy tale hero, in the form of Orion, (our Pack Ice Killer Whale from Orion’s Order). In the final pages of our children’s book, Orion challenges children from around the world to unite and become global environmental ambassadors. Simply put, Orion’s Guardians seeks to connect kids with conservation.
  </p>
  <p>
    Our junior scientist, Faith creates short videos designed to educate and inspire youth. Her mission is to reach children on a global scale and provide examples of every day sustainable behaviors that kids can participate in. Through this program she seeks to teach children creative ways to get involved regardless of their geographical location or cultural background. Additionally, she regularly attends community events, festivals, and other outreach awareness days throughout the state of Florida where she gives presentations to other children. Faith is confident in utilizing touch tanks, and animal ambassadors of all species during her demonstrations. She seeks to educate in an entertaining manner that destroys negative stigmas attached to many animals. Her goal is to ignite a passion for conservation and get children back outdoors. It is essential that we demonstrate that the natural world is just as exciting as the virtual world, thus shifting the focal points for these kids.
  </p>
</div>

<div class="col-md-8 col-md-offset-2 mermaids">
  <h3 id="mermaids">Mermaids</h3>
  <div class="col-sm-12 mb-sm">
    <div id="carousel-example-generic" class="carousel slide" data-ride="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

            <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag('mermaid1.jpg', class:"img-responsive")%>
        <div class="carousel-caption">

        </div>
      </div>
      <div class="item">
        <%= image_tag('mermaid3.jpg', class:"img-responsive")%>
        <div class="carousel-caption">

        </div>
      </div>
    </div>

            <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
  <br>
  <p>
    <em>Ocean’s Daughter Conservation Alliance has a team of professional mermaids available for performances and appearance at schools, assemblies, private events, community festivals, zoos, aquariums, and animal sanctuaries!We specialize in both dry and wet work! Our lead mermaid is the reigning International Conservation Mermaid, and was also crowned the official Mermaid of Gasparilla in 2016!
    </em>
  </p>
  <p>
    Mermaids serve as our platform for reaching the general public and educating on endangered species as well as alarming threats to our oceans. As an organization, we have discovered that people do not respond well to simply being lectured at. Instead, we embrace the notion of immersive story-telling with children, and the utilization of a mermaid’s perspective while teaching. This approach enables us to spark a genuine curiosity and interest in conservation. Our slogan with this campaign is “More than Myth”. The focal point is educating on how children (regardless of geographical location or cultural background) can get involved and help protect marine life before they fade into mere myth like the folklore surrounding mermaids.
  </p>
  <p>
    We allow children to catch a glimpse of our oceans through the eyes of mermaids. We have partnered with a professional tail maker and have a wide array of custom mermaid tails to mimic the colors, patterns, and appearances of various species. By doing so, we can have our team of mermaids wear tails that correlate with the topic being discussed. For instance, we have one that embodies an orca for our Antarctica lessons, and another which is scaled to be reminiscent of an alligator for our Everglades presentations. We also possess more traditional tails that are elaborately covered in hand sewn pearls, sequins, and crystals for general
    presentations. We are currently bringing this movement to public schools around the state of Florida, and also hosting special mermaid days at various zoos and aquariums.
  </p>
  <p>
    While this concept was initially conceived to reach children, we are finding that this platform has also proven highly successful in opening the doors to engaging discussions about conservation with adults. Mermaids are successful in gaining attention and igniting the imagination. Adults regularly approach our team of mermaids at events for photos. Yet, through a careful integration of conservation messaging, most find themselves enlightened during the experience and ask for ways to get involved or live a more sustainable life before walking away.
  </p>
  <h4>Why Mermaids?</h4>
  <p>
    In the early stages of conceiving Ocean’s Daughter we had many inquire as to why we selected mermaids as one of our primary areas of messaging. As a global organization cemented in strong scientific doctrine, many suggested that this choice seemed to be a massive juxtaposition. The mere notion of embracing a mythical creature when promoting ocean literacy sparked some controversy.
    To be honest, that anticipated line of inquiry was actually the intended purpose. It would require an entire dissertation to trace the historical “origins” and key myths surrounding mermaids. Perhaps that is a task for another time! However, it is relevant to highlight a few significant examples to explain our stance.
  </p>
  <p>
    Throughout the ages, mermaids have taken on contrasting roles. Some cultures such as those of Ancient Greece and Rome held sirens with extreme reverence. Multiple accounts exist within the literature that testifies to these creatures utilizing mesmerizing songs and hypnotic beauty to captivate men. This allure allegedly led to many a sailor’s death. The stories are contradicting in terms of intentions. Some believe sirens to have meticulously planned this outcome, while others suggest that mermaids failed to realize that the sailors could not breathe underwater. Some during this era believed that mermaids would literally suck the life out of humans. Other literary accounts such as The Little Mermaid by Hans Christian Anderson depict mermaids in a more innocent and curious light. As we all know, Disney heavily capitalized on this! Modern times brand mermaids as playful fantasy.
  </p>
  <p>
    If one wanted to move away from mythology and fiction, there are a plethora of accounts rooted in a more historical realm. Pliny the Elder was a Roman scholar who described Nereids as “women with rough scaly bodies like fish” in Natural History.  In a 5th Century AD book entitled Physiologus, a Greek unknown scholar dedicated a portion of the writing to portraying “The Nature of the Mermaid”.  In 1493, Christopher Columbus recorded an encounter with three mermaids in his ship logs while sailing off the coast of the Dominican Republic.  The widely accepted explanation is that Columbus actually mistook manatees for mermaids.  In 1608, another explorer by the name of Henry Hudson also recorded an encounter with a mermaid in his ship’s journal while sailing through the Bering Sea off of the coast of Norway. In 1614, the infamous John Smith actually wrote about spotting a mermaid off of the coast of Massachusetts.  Similar accounts are sprinkled throughout historical records by otherwise logical men. Yet despite these narratives, solid tangible evidence has consistently escaped scientists.
  </p>
  <div class="col-sm-8 mb-sm"><%= image_tag('mermaid2.jpg', class:"img-responsive")%></div>
  <p>
    Ancient Mesopotamian culture chronicles the existence of a merman by the name of Oannes. Legend claims he would rise from the depths of the Persian Gulf every morning and instill knowledge, reasoning, and wisdom to mankind.  As a result of his efforts, humans were equipped with cognitive tools that led to scientific advancements such as agriculture, medicine, astrology, the construction of cities, and written language.  While historians consider Oannes a mere myth, one cannot deny that the contributions from this ancient culture are authentic.  The advancements were so beyond anything the world had previously known that Mesopotamia is hallmarked as the cradle of civilization. We are not suggesting that a mermaid should be credited with such contributions, but the symbolism there is appealing.  Our mission at Ocean’s Daughter Conservation Alliance is to formulate practical conservation solutions that benefit both humanity and wildlife through an innovative blend of education and science. By serving as a global ambassador organization, we envision conducting groundbreaking research with the aspiration of deepening our comprehension of marine life. To accomplish this task, sophisticated levels of cognition are paramount. Therefore it was logical to adopt a symbol from a world long ago that embodies both knowledge and wisdom. Naturally, in Ocean’s Daughter tradition, we had to put on our own creative twist on it!!!!
  </p>
  <p>
    The purpose of this abbreviated lesson is to illustrate the numerous mermaid symbols across cultures and eras. At times, mermaids are labeled dangerous forces not to be reckoned with.  They possess an inherent ferociousness that cannot be contained. At other times, mermaids represent extraordinary beauty with an almost supernatural charm. Other accounts leave readers with a sense of mystery.  There is so much left unknown about these creatures. Here at Ocean’s Daughter Conservation Alliance we do not adopt any particular stance on mermaids. Whether mermaid tails are authentic or mere tales are not for us to decide. Yet the parallels between their symbols and the characteristics of the oceans we are striving to protect are undeniable. In a way, mermaids are perfect metaphors for the various facets of the seas!  So for that reason, why not mermaids?!?!
  </p>
</div>

<div class="col-md-8 col-md-offset-2 conservation">
  <h3 id="conservation">Conservation</h3>
  <p>
    Conservation is paramount to everything we do! By attending (and hosting) community events, we are able to share the importance of protecting the world’s waterways. What many people don’t realize is a single coral reefs produce more oxygen than all the world’s rainforests. But the reefs are being threatened by pollution, over-fishing, and longline fishing by-catch. Another significant issue is the rapid reduction in shark populations. When we reduce the apex predators at the top of the pyramid, all the species below them get out of balance, and the whole system gets knocked out of sync. Conservation is looking at the big picture, and having an understanding of how each piece fits with the others to keep harmony and ensure sustainability.
  </p>
</div>
